<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <div id='app'>
        {{message}}
    </div>
    <script>
    var app=new Vue(
        {
            el:'#app',
            data:{
                message:'Hello World!'
            }
        }
    )
</script>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒，查看动态绑定信息
        </span>
    </div>
    
<script>
    var app2=new Vue(
      {
        el:'#app-2',
        data:{
message:'页面加载于'+new Date().toLocaleString()
      }
      
      }

    )
</script>

<div id="app3">
    <span v-if="seen">你现在看见我了</span>
</div>
    
<script>
    var app3=new Vue(
    {
        el:'#app3',
        data:{seen:true}
    })
</script>
<div id='app4'>
    <ol>
        <li v-for='todo in todos'>
         {{todo.text}}
        </li>
    </ol>
</div>
<script>
    var app4=new Vue({
        el:'#app4',
        data:
        {todos:[{text:'学习JavaScript'},{text:'学习Vue'},{text:'整个牛项目'}]
    }})
</script>
<div id='app5'>
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">反转消息</button>
</div>

<script>
    var app5=new Vue({
        el:'#app5',
        data:{
            message:'hello Vue.js!'
        },
        methods:{reverseMessage:function(){
            this.message=this.message.split('').reverse().join()
        }}
    })

</script>
<div id='app6'>
    <p>{{message}}</p>
    <input v-model='message'>

</div>
<script>
    var app6 =new Vue({
        el:'#app6',
        data:{
            message:'双向绑定'
        }
    })
</script>
<!-- 构建组件模板 -->
<div id='app7'>
    <ol>
        <todo-item
        v-for='item in groceryList'
        v-bind:todo='item'
        v-bind:key='item.id'></todo-item>
    </ol>

</div>
<script>
    Vue.component('todo-item',{
        props:['todo'],
        template:'<li>{{todo.text}}</li>'
    })
    var app7=new Vue({
        el:'#app7',
        data:{
            groceryList:[
                {id:0,text:'蔬菜'},
                {id:1,text:'水果'},
                {id:2,text:'蛋糕'}
            ]
        }
    })
</script>
<div id='app8'>
    <p>orginal:{{ message}}</p>
    <p>computed: {{reversedmessage}}</p>
</div>
<script>
var vm=new Vue({
    el:'#app8',
    data:{
        message:'hello gantian'
    },
    computed:{
        reversedmessage:function(){
            return this.message.split('').reverse().join('')
        }
    }
})
</script>

<div id='demo'>{{fullName}}</div>
<script>
    var vms=new Vue({
        el:'#demo',
        data(){
            return{
            firstName:'Gan',
            lastName:'tian',
            //fullName:'Gan tian'
            }
        },
        // 侦听属性
        // watch:{
        //     firstName:function(val){
        //        this.fullName=val+' '+this.lastName
        //     },
        //     lastName:function(val){
        //         this.fullName=this.firstName+' '+val
        //     },
        //     fullName:function(val){ 
        //         var names = val.split(" ")
        //         this.firstName=names[0]
        //         this.lastName=names[1]



        //     }
        // },
        computed:{  //此处没太懂
         fullName:{
            get:function(){
                alert(124)
                return this.firstName+' '+this.lastName
                
            },
            set:function (newValue){
                console.log(123)
                var names=newValue.split(' ')
                this.firstName=names[0]
                this.lastName=names[names.length-1]

            }
        }
    }
    })
</script>

<!-- 侦听器 -->
<div id='watchdemo'>
    <p>
        ask a yes/no question:
        <input v-model="question">

    </p>
    <p>{{answer}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
    var watchExampleVM=new Vue({
        el:"#watchdemo",
        data:{
            question:'',
            answer:'i cannot give you an answer until you ask a question'
        },
        watch:{
            question:function(newQuestion,oldQuestion){
                this.answer='Waiting for you to stop typing.'
                this.debouncedGetAnswer()
            }
        },
        created:function(){
            this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
        },
        methods:{
            getAnswer:function(){
                if(this.question.indexOf('?')===-1){
                    this.answer='Questions usually contain a question mark'
                    return
                }
                this.answer='Thinking..'
                var vm=this
                axios.get('https://yesno.wtf/apiB').then(function(response){
                    vm.answer=_.capitalize(response.data.answer)
                }).catch(function(error){
                    vm.answer='Error!Could not reach the API.'+error
                })
            }
        }
    })
</script>
</body>
</html>