<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id='test'>
        <input v-model='searchName'>
        <ul>
            <li v-for='(p,index) in filterPersons' :key='index'> {{index}}-----{{p.name}}----{{p.age}}----{{p.sex}}</li>
        </ul>
        <button @click='setOrderType(1)'>年龄升序</button>
        <button @click='setOrderType(2)'>年龄降序</button>
        <button @click='setOrderType(0)'>原本年龄</button>


    </div>
    <script>
     new Vue(
        {
            el:"#test",
            data:{
                searchName:'',
                orderType:0,//0代表原本顺序，1升序，2降序
                persons:[
                    {name:'Tom',age:12,sex:'male'},
                    {name:'Jerry',age:14,sex:'female'},
                    {name:'Susan',age:15,sex:'female'},
                    {name:'Fenny',age:14,sex:'female'},
                    {name:'Fonny',age:33,sex:'female'},
                ]
            },
            computed:{                                   //在computed中使用函数进行模糊筛选（过滤）
                filterPersons(){
                    //取出相关数据
                   const{searchName,persons ,orderType}=this
                //最终需要显示的数组
                    let fPersons;
                //对persons进行过滤
                    fPersons=persons.filter(p=>p.name.indexOf(searchName)!==-1)
                
                   //排序
                   if(orderType!==0)
                {
                    fPersons.sort(function (p1,p2){
                        //1升序，2降序
                        if(orderType===2){
                            return p2.age-p1.age
                        }else{
                            return p1.age-p2.age
                        }
                        // return fPersons
                })
                 
                    //return fPersons
            }
               return fPersons
                }
               },
               methods:{
                   setOrderType (orderType){
                    this.orderType=orderType
                   }
               }
            
            })
    </script>
<!-- <div id='app'>
    <h2>绑定监听</h2>
    <button v-on:click='test1'>test1</button>
    <button @click="test2('gantian')">test2</button>
    <button @click='test3($event)'>test3</button>     
    <button @click='test4(123,$event)'>test4</button>    


<h2>事件修饰符（存在冒泡响应）用stop禁止</h2>                                          
<div style="width: 200px;height:200px;background: red" @click="test5">
<div style="width: 100px;height:100px;background: peru" @click.stop="test6"></div>
</div>

<a href="http://www.baidu.com" @click.prevent="test7">去百度(prevent 阻止事件的默认行为）</a> 

<h2>按键修饰符(只有在点击enter后网页响应）</h2>
<input @keyup.13="test8" >
<input @keyup.enter="test8" >
</div>


   <script>
       new Vue({
           el:'#app',
           data:{
            test1(){
                alert('test1')
            },
            test2(msg){
                alert(msg)
            },
            test3(event){
                alert(event.target.innerHTML)
            },
            test4(number,event){
                alert(number+"----"+event.target.innerHTML)
            },
            test5(){
                alert('outside')
            },
            test6(){
                //event.stopPropagation()
                alert('inside')
            },
            test7(event){
               // event.preventDefault() //让浏览器不响应要进去的网址
                alert("已经点击进入")
            },
            test8(event){
                if(event.keyCode===13)
            {
                alert(event.target.value+' '+event.keyCode)}  //点击enter键时才能响应
            }

           }     
          })
   </script> -->

<!-- 表单输入绑定：实现一个简单的用户数据注册和显示 -->
 <div id="demo">
     <form @submit.prevent="handleSubmit">        
         <span>用户名：</span>
         <input type="text" placeholder="username" v-model="username"><br/>
         <span>密码：</span>
         <input type="text" placeholder="password" v-model="pwd"><br/>
         <span>性别：</span>
         <input type="radio" id="female" value="女" v-model="sex">
         <label for="female">女</label>
         <input type="radio" id="male" value="男" v-model="sex">
         <label for="male">男</label><br/>
         <span>爱好</span>
         <input type="checkbox" id="basketball" value="basket" v-model="likes">
         <label for="basketball">篮球</label>
         <input type="checkbox" id="football" value="foot" v-model="likes">
         <label for="football">足球</label>
         <input type="checkbox" id="vallyball" value="vally" v-model="likes">
         <label for="vallyball">排球</label><br/>
         <span>城市:</span>
         <select v-model="cityId">
             <option value=''>未选择</option>
             <option value="city.id" v-for="(city,index) in allCitys" :key="index">{{city.name}}</option>
         </select><br/>

         <span>介绍：</span>
         <textarea rows="10"></textarea><br/><br/>
         <input type="submit" value="注册">

        </form>
 </div>
<script>
    new Vue({
        el:"#demo",
        data:{
            username:'',
            pwd:'',
            sex:'女',
            likes:['foot'],
            allCitys:[{id:1,name:"北京"},{id:2,name:"上海"},{id:3,name:"深圳"}],
            cityId:''
        },
        methods:{
            handleSubmit(){
                console.log(this.username,this.pwd,this.sex,this.likes,this.cityId,this.desc)
            }
        }
    })
</script>


<!-- Vue生命周期 1.初始化显示 2.更新显示 3.死亡 -->
<div id="app1">
    <button @click="destoryVm">Destroy Vue</button>
    <p v-show="isShow">我会隐身哦</p>
</div>
<script>
    new Vue({
        el:"#app1",
        data:{
            isShow:true
        },
        mounted(){                                                                               // 初始化显示之后立即调用(1次)
                                                                                                 //设置循环定时器
        this.intervalId= setInterval( ()=>{ console.log("---------------");this.isShow=!this.isShow }, 1000 )    //用箭头函数来定义匿名函数   
                                                                                                 //由于定时器不会被销毁所以可能会造成内存泄漏！！
                },
        beforeDestroy(){                                                                          //及时清除定时器(死亡之前调用（1次)
            clearInterval(this.intervalId)
        },
        methods:{
            destoryVm(){
                this.$destroy()
            }
        }
    })
</script>
<style>                                          
    .one-enter-active,.one-leave-active{
        transition:  opacity 1s;                               
    }
    .one-enter,.one-leave-to{
        opacity: 0;
    }
</style>
<div id='one'>
    <BUtton @click="isShow=!isShow">Toggle</BUtton>
    <transition name="one">
    <p v-show="isShow" class="one-enter-to"> Hello</p>
    </transition>
    <transition name="move">
        <p v-show="isShow" class="one-enter-to"> Hello</p>
        </transition>
</div>
<script>
new Vue({
    el:"#one",
    data:{
        isShow:true
    }

})
</script>

<!-- 显示的过滤效果 -->
<style>
.move-enter-active{
    transition:all 1s
}
                                  /* <!-- 隐藏的过滤效果 --> */
.move-leave-active{
    transition:all 3s
}
/* 隐藏时的样式 */
.move-enter,.move-leave-to{
        opacity: 0;
        transform:translateX(20px);
    }
</style>
</body>
</html>